.spin

# Uncomment the line below to get to the default state for the http-rust template
target/
crt.pem
spin.sig

# Bazel outputs
bazel-*

# Node.js dependencies
node_modules/

# Downloaded binaries
*.tar.gz
*.zip
