spin_version = "1"
authors = ["Ralf Anton Beier <ralf_beier@me.com>"]
description = "Toyota MyT to A Better Routeplanner" 
name = "myT2ABRP"
trigger = { type = "http", base = "/" }
version = "0.1.0"

[variables]
password = { required = true }
username = { required = true }
vin = { required = true }


[[component]]
id = "myt2abrp"
source = "target/wasm32-wasi/release/myt2abrp.wasm"
allowed_http_hosts = [ "ssoms.toyota-europe.com", "myt-agg.toyota-europe.com" ]
[component.trigger]
route = "/..."
[component.build]
command = "cargo build --target wasm32-wasi --release"
# Example watch configuration for a Rust application
watch = ["myt2abrp/src/**/*.rs", "myt2abrp/Cargo.toml", "Cargo.toml"]
[component.config]
password = "{{ password }}"
username = "{{ username }}"
vin = "{{ vin }}"